<div class="bkg-register">
</br></br></br></br>
<div class="input-group panel panel-default">
Hey {{username}}: {{userNameIs}} {{users.regMessage}}
	<div class='panel-body'>

		<form name='regForm' ng-submit="submit()" >
			<div class='form-group'>
				<label>username:</label>{{isUser}}  
				<input type="text" class="form-control" ng-blur="doesNameExist()" ng-focus="onChange()" ng-model='username' name='nameInp' ng-minlength="3" ng-pattern="nameValid" required ng-trim="false">
				<span class="error" ng-show="regForm.nameInp.$error.required">*</span>
				<span class="error" ng-show="regForm.nameInp.$error.pattern">single word only</span>
				<span class="error" ng-show="regForm.nameInp.$error.minlength">too short</span>
			</div>
			<div class='form-group'>
				<label>email:</label> <input type="email" class="form-control" ng-model='email' name='emailInp'required>
				<span class="error" ng-show="regForm.emailInp.$error.required">*</span>
				<span class="error" ng-show="regForm.emailInp.$error.email">*</span>
			</div>
			<div class="input-group-btn">
				<button type="submit" class="btn btn-primary" ng-disabled="grey">{{users.regState}}</button>
			</div>
		</form> 
		<div class='form-group'>  
			<label>apikey:</label> <input type="text" class="form-control" placeholder='' ng-model='apikey'>
		</div>   
	</div>
</div>

</div>